
body {
   height: 100vh;
   position: relative;
   display: block;
  }

.cont_reg {
      background-color: yellow;
      padding: 20px; position: absolute;
      top: 50%; left: 50%; transform: translate(-50%,-50%);
      border-style: solid; border-color: black; border-width: 3px; border-radius: 20px;
      font-family: Arial; font-weight: bold; font-size: 25px;

    }
.cont_form {
      background-color: yellow;
      padding: 20px; position: absolute;
      top: 50%; left: 50%; transform: translate(-50%,-50%);
      border-style: solid; border-color: black; border-width: 3px; border-radius: 20px;
      font-family: Arial; font-weight: bold; font-size: 25px; text-align: center;

    }
.inp_txt{
    width: 350px; height: 100px;
    margin: auto; border-style: solid; border-color: black; border-width: 3px; border-radius: 10px;
    font-family: Arial; font-size: 25px; text-align: center;
    }
.inp_reg{
    width: 350px; height: 50px;
    margin: auto; border-style: solid; border-color: black; border-width: 3px; border-radius: 10px;
    font-family: Arial; font-size: 25px; text-align: center;
    }
.bot{
    flex: 1; padding: 10px; margin-left: 30px; margin-right: 30px;
    display: inline-block;
    border-style: solid; border-color: black; border-width: 3px; border-radius: 10px;
    font-family: Arial; font-weight: bold; font-size: 25px; text-align: center
    }
.buttons{
    padding: 20px; text-align: center; margin-top: 20px;
    }

p {font-style: italic; font-size: 20px; margin-bottom: 10px}

.com_all{
    width: 500px; padding:5px; display: block; margin: auto

}
.com{
    border-style: double; border-color: black; border-width: 3px; border-radius: 20px;
    padding-left:20px;
}