<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отзывы</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>


<form method="POST" action="/user/comment/update">
    <input type="hidden" name="_method" value="PUT">

    <div class="cont_form">
        <h4>Введите изменённый текст Вашего отзыва</h4>
        <div>
        <p style="color: red">{{message}}</p>
        </div>
                <div><p>Текст</p>
                    <div class="form-row">
                    <input type="text" name="text" id="your-username" class="inp_txt" placeholder="ваш отзыв" required>
                    </div>
                </div>

        <div class="buttons">
            <button class="bot" type="submit">СОХРАНИТЬ</button>
            <button class="bot" type="button" onclick="location.href='/user/comment/all';">НАЗАД</button>
        </div>
    </div>

</form>
</body>
</html>