{% extends "menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все отзывы</title>
</head>
<body>
{%block content%}
    <div class="w-50 mx-auto bg-white border border-5 border-primary rounded-4" style="padding:5px; display: block">
        {% for i in comments %}
            <div class="d-flex align-items-center justify-content-between bg-light border border-1 border-primary rounded-4" style="padding:10px;">
                <div>
                <em class="text-primary" style="font-size: 20px;">{{ i.text }} - {{ i.user_username }} - {{ i.created_at.strftime('%d-%m-%Y') }}</em>
                </div>
                <div >
                <button class="btn btn-primary" onclick="location.href='/user/comment/edit';">ИЗМЕНИТЬ</button>
                <form method="POST" action="/user/comment/delete" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">УДАЛИТЬ</button>
                </form>
                </div>
            </div>
        {% endfor %}
    </div>
        <button class="btn btn-success" onclick="window.location.href='/user/comment/create';">ОСТАВИТЬ ОТЗЫВ</button>
{%endblock%}
</body>
</html>