{% extends "menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сегодня на экране</title>
</head>
<body>


{%block content%}
<h1 class="text-white fw-bold text-center" style="font-size: 70px">"{{title_page_today}}"</h1>
{% if films %}
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for film in films %}
        <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="5000">
            <div><img src="{{ url_for('static', path='img/today/' + film.photo) }}" class="d-block mx-auto border border-5 border-primary rounded-4" alt="photo"
                      style="width: 1000px; height:600px"></div>
                <div class="carousel-caption align-content-end text-white fw-bold">
                    <h1 style="font-size: 70px">{{film.title}}</h1>
                    <h4>ВРЕМЯ СЕАНСОВ: {{film.time}}</h4>
                    <h4>ЦЕНА: {{film.price}}руб</h4>
                    <a class="fs-4 text-white" href="/page/film/{{loop.index}}">ПОДРОБНЕЕ О ФИЛЬМЕ</a>
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="text-center text-white">
    <h2>К сожалению, на сегодня фильмы не запланированы</h2>
</div>
{% endif %}
{%endblock%}



</body>
</html>
</html>